<!DOCTYPE html>
<html>
<head>
    <title>Моделирование эксперимента</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
</head>
<body>
    <h1>Введите параметры эксперимента</h1>
    <div id="error-container"></div> <!-- Контейнер для ошибок -->
    <div id="warning-container"></div> <!-- Контейнер для предупреждений -->
    {% if error %}
    <div id="error-message" style="color: red;">{{  error }}</div>
    {% endif %}

    <form id="start-form" method="POST">
        <table>
            <tr>
                <td><label for="q">Среднее Q:</label></td>
                <td><input type="number" name="q" id="q" value="{{ q if q is not none else '0' }}" step="any" required></td>
            </tr>
            <tr>
                <td><label for="r">Дисперсия R:</label></td>
                <td><input type="number" step="any" name="r" id="r" value="{{ r if r is not none else '1' }}" required></td>
            </tr>
            <tr>
                <td><label for="n">Количество приборов N:</label></td>
                <td><input type="number" name="n" id="n" value="{{ n if n is not none else '5' }}" required></td>
            </tr>
            <tr>
                <td><label for="num_trials">Количество испытаний:</label></td>
                <td><input type="number" name="num_trials" id="num_trials" value="{{ num_trials if num_trials is not none else '100' }}" required></td>
            </tr>
            <tr>
                <td><label for="distributing_function">Функция распределения:</label></td>
                <td>
                    <select name="distributing_function" id="distributing_function" value="{{ distributing_function if distributing_function is not none else 'exponential' }}">
                        <option value="exponential" {% if distributing_function == "exponential" %}selected{% endif %}> Экспоненциальная</option>
                        <option value="home-like" {% if distributing_function == "home-like" %}selected{% endif %}> Треугольная</option>
                      </select>
                </td>
            </tr>
        </table>
        <button type="submit">Запустить моделирование</button>

    </form>

    <div id="results">
        {% block results %}{% endblock %}
    </div>
    <div id="graph">
        {% block graph %}{% endblock %}
    </div>

    <div id="characteristic-of-numerical-distributions">
        {% block characteristic_of_numerical_distributions %}{% endblock %}
    </div>
    <div id="cdf">

    </div>
    <form id="interval-form">
        <label for="intervals">Количество интервалов:</label>
        <input type="number" id="intervals" value="2" step="1" name="intervals" required>
        <br><br>
        <button type="submit">Отправить</button>
    </form>

    <div id="results2">
        <h3>Результаты</h3>
        <table id="results-table"></table>
    </div>
    <div id="hist"></div>

    <form id="interval-form-2">
        <label for="intervals2">Границы интервалов (через запятую, например: 0, 1, 2, 3):</label>
        <input type="number" value="2" step="1" id="intervals2" name="intervals" required">
        <td><label for="a">Уровень значимости:</label></td>
        <input type="number" name="a" id="a" value="0.05" step="any" required>
        <br><br>
        <button type="submit">Отправить</button>
    </form>

    <div id="results3">
        <h3>Результаты</h3>
        <div id="res-table"></div>
        <div id="res-text">
            
        </div>
    </div>

    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>