{% extends "base.html" %}

{% block results %}
    {% if data %}
        <table>
            <thead>
            <tr>
                {% for i in range(data|length) %}
                <th>x<sub>{{ i + 1 }}</sub></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for value in data %}
                <td>
                    {% if value is number %}
                        {{ '{:.2f}'.format(value) }}
                    {% else %}
                        {{ value }}  <!-- Или какое-то другое значение по умолчанию -->
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block graph %}
    {% if plot_url %}
        <img src="data:image/svg+xml;base64,{{ plot_url }}">
    {% endif %}
{% endblock %}